openapi: 3.0.3
info:
  title: API de Pedidos - Arte Ideas
  description: |
    API REST para la gestión de pedidos en el sistema Arte Ideas.
    Permite crear, leer, actualizar y eliminar pedidos, así como gestionar sus items y productos asociados.
  version: 1.0.0
  contact:
    name: Soporte Arte Ideas
    email: soporte@arteideas.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.arteideas.com
    description: Servidor de producción
  - url: http://localhost:8000
    description: Servidor de desarrollo

security:
  - bearerAuth: []

paths:
  /api/orders/:
    get:
      summary: Listar pedidos
      description: Obtiene la lista de todos los pedidos del tenant actual con opciones de filtrado y búsqueda
      tags:
        - Pedidos
      parameters:
        - in: query
          name: cliente__nombre
          schema:
            type: string
          description: Filtrar por nombre del cliente
        - in: query
          name: tipo_documento
          schema:
            type: string
            enum: [proforma, nota_venta, contrato]
          description: Filtrar por tipo de documento
        - in: query
          name: estado
          schema:
            type: string
            enum: [pending, in_process, completed, delayed, cancelled]
          description: Filtrar por estado del pedido
        - in: query
          name: fecha_entrega
          schema:
            type: string
            format: date
          description: Filtrar por fecha de entrega (YYYY-MM-DD)
        - in: query
          name: search
          schema:
            type: string
          description: Búsqueda general en número de pedido, nombre, email, teléfono, DNI del cliente
        - in: query
          name: ordering
          schema:
            type: string
            enum: [order_number, -order_number, start_date, -start_date, delivery_date, -delivery_date, total, -total, status, -status, client__first_name, -client__first_name, client__last_name, -client__last_name]
          description: Ordenar resultados
        - in: query
          name: page
          schema:
            type: integer
          description: Número de página para paginación
      responses:
        '200':
          description: Lista de pedidos obtenida exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    post:
      summary: Crear pedido
      description: Crea un nuevo pedido con sus items asociados
      tags:
        - Pedidos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
      responses:
        '201':
          description: Pedido creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/orders/{id}/:
    get:
      summary: Obtener pedido específico
      description: Obtiene los detalles de un pedido específico por ID
      tags:
        - Pedidos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID del pedido
      responses:
        '200':
          description: Pedido obtenido exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    put:
      summary: Actualizar pedido completo
      description: Actualiza todos los campos de un pedido existente
      tags:
        - Pedidos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID del pedido
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
      responses:
        '200':
          description: Pedido actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      summary: Actualización parcial de pedido
      description: Actualiza parcialmente un pedido existente
      tags:
        - Pedidos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID del pedido
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderPatchRequest'
      responses:
        '200':
          description: Pedido actualizado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    delete:
      summary: Eliminar pedido
      description: Elimina un pedido específico (solo administradores)
      tags:
        - Pedidos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID del pedido
      responses:
        '204':
          description: Pedido eliminado exitosamente
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/orders/summary/:
    get:
      summary: Resumen de pedidos
      description: Obtiene un resumen completo de todos los pedidos con estadísticas
      tags:
        - Estadísticas
      responses:
        '200':
          description: Resumen obtenido exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderSummaryResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/orders/totals_summary/:
    get:
      summary: Resumen de totales absolutos
      description: Obtiene los totales absolutos de todos los pedidos
      tags:
        - Estadísticas
      responses:
        '200':
          description: Totales obtenidos exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalsSummaryResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/orders/autocomplete_clients/:
    get:
      summary: Autocompletado de clientes
      description: Busca clientes para autocompletado en formularios
      tags:
        - Utilidades
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
            minLength: 2
          description: Texto de búsqueda (mínimo 2 caracteres)
        - in: query
          name: client_type
          schema:
            type: string
            enum: [particular, colegio, empresa]
          description: Filtrar por tipo de cliente
      responses:
        '200':
          description: Resultados de búsqueda obtenidos exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAutocompleteResponse'
        '400':
          description: Parámetros inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api/orders/{id}/mark_as_completed/:
    post:
      summary: Marcar pedido como completado
      description: Marca un pedido específico como completado
      tags:
        - Acciones
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID del pedido
      responses:
        '200':
          description: Pedido marcado como completado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: El pedido ya está completado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api/orders/{id}/mark_as_cancelled/:
    post:
      summary: Marcar pedido como cancelado
      description: Marca un pedido específico como cancelado
      tags:
        - Acciones
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
          description: ID del pedido
      responses:
        '200':
          description: Pedido marcado como cancelado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: El pedido ya está cancelado o no se puede cancelar
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    OrderListResponse:
      type: object
      properties:
        count:
          type: integer
          description: Total de pedidos
        next:
          type: string
          nullable: true
          description: URL de la siguiente página
        previous:
          type: string
          nullable: true
          description: URL de la página anterior
        results:
          type: array
          items:
            $ref: '#/components/schemas/OrderDetailResponse'

    OrderDetailResponse:
      type: object
      properties:
        id:
          type: integer
          description: ID del pedido
        order_number:
          type: string
          description: Número único del pedido
        client:
          type: integer
          description: ID del cliente
        client_info:
          $ref: '#/components/schemas/ClientInfo'
        document_type:
          type: string
          enum: [proforma, nota_venta, contrato]
          description: Tipo de documento
        client_type:
          type: string
          enum: [particular, colegio, empresa]
          description: Tipo de cliente
        school_level:
          type: string
          nullable: true
          enum: [inicial, primaria, secundaria]
          description: Nivel escolar (solo para colegios)
        grade:
          type: string
          nullable: true
          description: Grado (solo para colegios)
        section:
          type: string
          nullable: true
          description: Sección (solo para colegios)
        start_date:
          type: string
          format: date
          description: Fecha de inicio del pedido
        delivery_date:
          type: string
          format: date
          description: Fecha de entrega programada
        scheduled_dates:
          type: object
          description: Fechas programadas de sesiones y entregas
        scheduled_sessions:
          type: array
          items:
            type: string
          description: Lista de sesiones programadas
        scheduled_deliveries:
          type: array
          items:
            type: string
          description: Lista de entregas programadas
        subtotal:
          type: number
          format: decimal
          description: Subtotal del pedido
        tax:
          type: number
          format: decimal
          description: Impuesto del pedido
        total:
          type: number
          format: decimal
          description: Total del pedido
        paid_amount:
          type: number
          format: decimal
          description: Monto pagado
        balance:
          type: number
          format: decimal
          description: Saldo pendiente
        extra_services:
          type: object
          description: Servicios adicionales
        status:
          type: string
          enum: [pending, in_process, completed, delayed, cancelled]
          description: Estado del pedido
        contract:
          type: integer
          nullable: true
          description: ID del contrato relacionado
        notes:
          type: string
          nullable: true
          description: Notas adicionales
        affects_inventory:
          type: boolean
          description: Si afecta el inventario
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        created_at:
          type: string
          format: date-time
          description: Fecha de creación
        updated_at:
          type: string
          format: date-time
          description: Fecha de última actualización

    OrderCreateRequest:
      type: object
      required:
        - order_number
        - client
        - document_type
        - client_type
        - start_date
        - delivery_date
        - total
        - paid_amount
        - status
      properties:
        order_number:
          type: string
          description: Número único del pedido
        client:
          type: integer
          description: ID del cliente
        document_type:
          type: string
          enum: [proforma, nota_venta, contrato]
          description: Tipo de documento
        client_type:
          type: string
          enum: [particular, colegio, empresa]
          description: Tipo de cliente
        school_level:
          type: string
          nullable: true
          enum: [inicial, primaria, secundaria]
          description: Nivel escolar (obligatorio para colegios)
        grade:
          type: string
          nullable: true
          description: Grado (solo para colegios)
        section:
          type: string
          nullable: true
          description: Sección (solo para colegios)
        start_date:
          type: string
          format: date
          description: Fecha de inicio del pedido
        delivery_date:
          type: string
          format: date
          description: Fecha de entrega programada
        scheduled_dates:
          type: object
          description: Fechas programadas de sesiones y entregas
        total:
          type: number
          format: decimal
          minimum: 0
          description: Total del pedido
        paid_amount:
          type: number
          format: decimal
          minimum: 0
          description: Monto pagado
        extra_services:
          type: object
          description: Servicios adicionales
        status:
          type: string
          enum: [pending, in_process, completed, delayed, cancelled]
          description: Estado inicial del pedido
        contract:
          type: integer
          nullable: true
          description: ID del contrato relacionado (solo para tipo 'contrato')
        notes:
          type: string
          nullable: true
          description: Notas adicionales
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItemCreate'
          description: Items del pedido

    OrderPatchRequest:
      type: object
      properties:
        order_number:
          type: string
          description: Número único del pedido
        client:
          type: integer
          description: ID del cliente
        document_type:
          type: string
          enum: [proforma, nota_venta, contrato]
          description: Tipo de documento
        client_type:
          type: string
          enum: [particular, colegio, empresa]
          description: Tipo de cliente
        school_level:
          type: string
          nullable: true
          enum: [inicial, primaria, secundaria]
          description: Nivel escolar
        grade:
          type: string
          nullable: true
          description: Grado
        section:
          type: string
          nullable: true
          description: Sección
        start_date:
          type: string
          format: date
          description: Fecha de inicio del pedido
        delivery_date:
          type: string
          format: date
          description: Fecha de entrega programada
        scheduled_dates:
          type: object
          description: Fechas programadas de sesiones y entregas
        total:
          type: number
          format: decimal
          minimum: 0
          description: Total del pedido
        paid_amount:
          type: number
          format: decimal
          minimum: 0
          description: Monto pagado
        extra_services:
          type: object
          description: Servicios adicionales
        status:
          type: string
          enum: [pending, in_process, completed, delayed, cancelled]
          description: Estado del pedido
        contract:
          type: integer
          nullable: true
          description: ID del contrato relacionado
        notes:
          type: string
          nullable: true
          description: Notas adicionales
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItemCreate'
          description: Items del pedido

    ClientInfo:
      type: object
      properties:
        id:
          type: integer
          description: ID del cliente
        full_name:
          type: string
          description: Nombre completo del cliente
        email:
          type: string
          format: email
          description: Email del cliente
        phone:
          type: string
          description: Teléfono del cliente
        dni:
          type: string
          description: DNI del cliente
        address:
          type: string
          description: Dirección del cliente
        client_type:
          type: string
          enum: [particular, colegio, empresa]
          description: Tipo de cliente
        school_level:
          type: string
          nullable: true
          description: Nivel escolar
        grade:
          type: string
          nullable: true
          description: Grado
        section:
          type: string
          nullable: true
          description: Sección
        company_name:
          type: string
          nullable: true
          description: Nombre de la empresa

    OrderItem:
      type: object
      properties:
        id:
          type: integer
          description: ID del item
        product_name:
          type: string
          description: Nombre del producto
        product_description:
          type: string
          description: Descripción del producto
        quantity:
          type: integer
          minimum: 1
          description: Cantidad
        unit_price:
          type: number
          format: decimal
          minimum: 0
          description: Precio unitario
        subtotal:
          type: number
          format: decimal
          description: Subtotal calculado
        affects_inventory:
          type: boolean
          description: Si afecta el inventario

    OrderItemCreate:
      type: object
      required:
        - product_name
        - product_description
        - quantity
        - unit_price
      properties:
        product_name:
          type: string
          description: Nombre del producto
        product_description:
          type: string
          description: Descripción del producto
        quantity:
          type: integer
          minimum: 1
          description: Cantidad
        unit_price:
          type: number
          format: decimal
          minimum: 0
          description: Precio unitario

    OrderSummaryResponse:
      type: object
      properties:
        total_orders:
          type: integer
          description: Total de pedidos
        total_amount:
          type: number
          format: decimal
          description: Monto total de todos los pedidos
        total_paid:
          type: number
          format: decimal
          description: Total pagado
        total_balance:
          type: number
          format: decimal
          description: Saldo total pendiente
        pending_orders:
          type: integer
          description: Pedidos pendientes
        in_process_orders:
          type: integer
          description: Pedidos en proceso
        completed_orders:
          type: integer
          description: Pedidos completados
        delayed_orders:
          type: integer
          description: Pedidos atrasados
        cancelled_orders:
          type: integer
          description: Pedidos cancelados
        proforma_orders:
          type: integer
          description: Pedidos tipo proforma
        sale_note_orders:
          type: integer
          description: Pedidos tipo nota de venta
        contract_orders:
          type: integer
          description: Pedidos tipo contrato

    TotalsSummaryResponse:
      type: object
      properties:
        total_absoluto:
          type: number
          format: decimal
          description: Suma total de todos los pedidos
        saldo_absoluto:
          type: number
          format: decimal
          description: Suma total de saldos pendientes

    ClientAutocompleteResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ClientAutocompleteItem'

    ClientAutocompleteItem:
      type: object
      properties:
        id:
          type: integer
          description: ID del cliente
        first_name:
          type: string
          description: Nombre del cliente
        last_name:
          type: string
          description: Apellido del cliente
        full_name:
          type: string
          description: Nombre completo del cliente
        email:
          type: string
          format: email
          description: Email del cliente
        phone:
          type: string
          description: Teléfono del cliente
        dni:
          type: string
          description: DNI del cliente
        address:
          type: string
          description: Dirección del cliente
        client_type:
          type: string
          enum: [particular, colegio, empresa]
          description: Tipo de cliente

    SuccessResponse:
      type: object
      properties:
        detail:
          type: string
          description: Mensaje de éxito

    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
          description: Mensaje de error

  responses:
    UnauthorizedError:
      description: No autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            detail: "Las credenciales de autenticación no se proporcionaron."

    ForbiddenError:
      description: Sin permisos suficientes
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            detail: "No tiene permisos para realizar esta acción."

    NotFoundError:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            detail: "No encontrado."

    BadRequestError:
      description: Error en los datos enviados
      content:
        application/json:
          schema:
            type: object
          example:
            order_number: ["Ya existe un pedido con este número"]
            delivery_date: ["La fecha de entrega debe ser posterior a la fecha de inicio"]
            total: ["El total no puede ser negativo"]
            paid_amount: ["El monto pagado no puede exceder el total"]